@font-face {
    font-family: msyh;
    src: url('/fonts/msyh.ttc');
}

@font-face {
    font-family: PingFangSC-Regular;
    src: url('/fonts/PingFangSC-Regular.otf');
}

:lang(zh-cn) {
    font-family: Noto Serif SC;
}

:lang(en) {
    font-family: Noto Serif,Noto Serif SC;
}

/* html {
    font-family: msyh;
    font-size: 16pt;
} */