<div class="expand-wrapper prose dark:prose-invert max-w-prose zen-mode-content">
    <input id="{{ .Get "id" | default (printf "expand-%d" (.Ordinal)) }}" class="expand-toggle" type="checkbox" {{ if or (.Get "open") (in .Params "open") }}checked{{ end }}>
    <label for="{{ .Get "id" | default (printf "expand-%d" (.Ordinal)) }}" class="expand-title">
      <span class="expand-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </span>
      {{- $summary := cond .IsNamedParams (.Get "title") (.Get 0) -}}
      {{ $summary | .Page.RenderString }}
    </label>
    <div class="expand-content">
      <div class="expand-inner">
        {{ .Inner | .Page.RenderString }}
      </div>
    </div>
</div>